

.form-container{
    
   padding: 20px ;
   margin-top: 15px;
   border-color: black;
   border-bottom: 1px solid #000;
}
.finalisation-container{
    padding: 20px ;
   margin-top: 15px;
   background-color: white;
   border-color: black;
   width: 700px
   

}

.radio-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.radio-row label{
    font-size: 17px;
    text-indent: 10px;
}

.fee-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 20px;

}

.recepient-name{
    font-size: 27px;
    font-weight: bold;
    color: #2e5f5a ;
    margin-bottom: 35px;
}