.sixth-section-container{
    background-color: red;
    padding: 20px ;
    margin: 35px 0 35px 0 ;
    width: 900px;
    padding: 20px ;
    margin-bottom: 20px;
}
.sixth-section-title{
    font-size: 32px ;
    font-weight: bold;
    padding : 15px 0px 35px 0px;
}